
## DATA ANALYSIS USING PYTHON

## Basic Operations  
`

Try the following:

In [1]:
26+431

457

In [2]:
2888*2666

7699408

In [3]:
3232/43

75.16279069767442

In [4]:
73+4242

4315

In [9]:
5**3

125

In [11]:
100**2

10000

In [12]:
round(56.7777,3)

56.778

In [13]:
import math

In [15]:
math.log(100)

4.605170185988092

In [17]:
math.sin(66)

-0.026551154023966794

In [18]:
math.pi

3.141592653589793

In [19]:
math.ceil(45.6)

46

## Import Data:

Import Library:

import Pandas 

import pandas as pd

In [20]:
import pandas as pd

In [21]:
data=pd.read_csv('https://raw.githubusercontent.com/ivailop7/Health-Data-Analysis/master/Health%20Data-daily.csv')

To get the number of columns and rows in the dataset:

In [22]:
data.shape

(767, 68)

In [23]:
data.shape

(767, 68)

In [25]:
data.head(7)

,Start,Finish,Active Calories (kcal),Biotin (mcg),Blood Alcohol Content (%),Blood Glucose (mg/dL),Blood Pressure (Diastolic) (mmHg),Blood Pressure (Systolic) (mmHg),Body Fat Percentage (%),Body Mass Index (count),...,Vitamin B12 (mcg),Vitamin B6 (mg),Vitamin C (mg),Vitamin D (mcg),Vitamin E (mg),Vitamin K (mcg),Weight (kg),Dietary Water (L),Zinc (mg),UV Exposure (count)
0,06-Aug-2015 00:00,07-Aug-2015 00:00,0.0,0.0,0.0,79.268587,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,07-Aug-2015 00:00,08-Aug-2015 00:00,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,08-Aug-2015 00:00,09-Aug-2015 00:00,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,09-Aug-2015 00:00,10-Aug-2015 00:00,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,10-Aug-2015 00:00,11-Aug-2015 00:00,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,11-Aug-2015 00:00,12-Aug-2015 00:00,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,12-Aug-2015 00:00,13-Aug-2015 00:00,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
data.tail()

,Start,Finish,Active Calories (kcal),Biotin (mcg),Blood Alcohol Content (%),Blood Glucose (mg/dL),Blood Pressure (Diastolic) (mmHg),Blood Pressure (Systolic) (mmHg),Body Fat Percentage (%),Body Mass Index (count),...,Vitamin B12 (mcg),Vitamin B6 (mg),Vitamin C (mg),Vitamin D (mcg),Vitamin E (mg),Vitamin K (mcg),Weight (kg),Dietary Water (L),Zinc (mg),UV Exposure (count)
762,06-Sep-2017 00:00,07-Sep-2017 00:00,416.007722,0.0,0.0,0.0,0.0,0.0,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0
763,07-Sep-2017 00:00,08-Sep-2017 00:00,657.412282,0.0,0.0,0.0,0.0,0.0,0.12,18.6,...,0.0,0.0,0.0,0.0,0.0,0.0,58.35,0.0,0.0,0.0
764,08-Sep-2017 00:00,09-Sep-2017 00:00,332.833916,0.0,0.0,0.0,0.0,0.0,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0
765,09-Sep-2017 00:00,10-Sep-2017 00:00,429.742219,0.0,0.0,0.0,0.0,0.0,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0
766,10-Sep-2017 00:00,11-Sep-2017 00:00,309.694532,0.0,0.0,0.0,0.0,0.0,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0

To see the column headers or variables in the dataset:

In [27]:
data.columns

Index(['Start', 'Finish', 'Active Calories (kcal)', 'Biotin (mcg)',
       'Blood Alcohol Content (%)', 'Blood Glucose (mg/dL)',
       'Blood Pressure (Diastolic) (mmHg)', 'Blood Pressure (Systolic) (mmHg)',
       'Body Fat Percentage (%)', 'Body Mass Index (count)',
       'Body Temperature (degC)', 'Basal Body Temperature (degC)',
       'Caffeine (mg)', 'Calcium (mg)', 'Carbohydrates (mg)', 'Chloride (mg)',
       'Cholesterol (mg)', 'Chromium (mcg)', 'Copper (mcg)',
       'Cycling Distance (mi)', 'Dietary Calories (cal)', 'Distance (km)',
       'Electrodermal Activity (mcS)', 'Fiber (g)', 'Flights Climbed (count)',
       'Folate (mcg)', 'Forced Expiratory Volume (L)',
       'Forced Vital Capacity (L)', 'Heart Rate (count/min)',
       'Inhaler Usage (count)', 'Iodine (mcg)', 'Lean Body Mass (kg)',
       'Magnesium (mg)', 'Manganese (mg)', 'Molybdenum (mcg)',
       'Monosaturated Fat (g)', 'Niacin (mg)', 'NikeFuel (count)',
       'Number of Times Fallen (count)', 'Oxygen Saturation (%)',
       'Pantothenic Acid (mg)', 'Peak Expiratory Flow Rate (L/min)',
       'Peripheral Perfusion Index (%)', 'Phosphorus (mg)',
       'Polyunsaturated Fat (g)', 'Potassium (mg)', 'Protein (g)',
       'Respiratory Rate (count/min)', 'Resting Calories (kcal)',
       'Riboflavin (mg)', 'Saturated Fat (g)', 'Selenium (mcg)', 'Sodium (mg)',
       'Steps (count)', 'Sugar (g)', 'Thiamin (mg)', 'Total Fat (g)',
       'Vitamin A (mcg)', 'Vitamin B12 (mcg)', 'Vitamin B6 (mg)',
       'Vitamin C (mg)', 'Vitamin D (mcg)', 'Vitamin E (mg)',
       'Vitamin K (mcg)', 'Weight (kg)', 'Dietary Water (L)', 'Zinc (mg)',
       'UV Exposure (count)'],
      dtype='object')

In [28]:
data.describe()

,Active Calories (kcal),Biotin (mcg),Blood Alcohol Content (%),Blood Glucose (mg/dL),Blood Pressure (Diastolic) (mmHg),Blood Pressure (Systolic) (mmHg),Body Fat Percentage (%),Body Mass Index (count),Body Temperature (degC),Basal Body Temperature (degC),...,Vitamin B12 (mcg),Vitamin B6 (mg),Vitamin C (mg),Vitamin D (mcg),Vitamin E (mg),Vitamin K (mcg),Weight (kg),Dietary Water (L),Zinc (mg),UV Exposure (count)
count,767.000000,767.0,767.0,767.000000,767.000000,767.000000,767.000000,767.000000,767.0,767.0,...,767.0,767.0,767.0,767.0,767.0,767.0,767.000000,767.0,767.0,767.0
mean,346.623511,0.0,0.0,0.216093,0.912647,1.516297,0.016415,2.660235,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8.273077,0.0,0.0,0.0
std,444.076546,0.0,0.0,4.233028,7.993400,13.237120,0.041409,6.439400,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,20.028158,0.0,0.0,0.0
min,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
25%,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
50%,298.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
75%,441.043397,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
max,4100.000000,0.0,0.0,86.474822,80.000000,125.000000,0.143000,19.200000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,60.150000,0.0,0.0,0.0

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 767 entries, 0 to 766
Data columns (total 68 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Start                              767 non-null    object
 1   Finish                             767 non-null    object
 2   Active Calories (kcal)             767 non-null    float64
 3   Biotin (mcg)                       767 non-null    float64
 4   Blood Alcohol Content (%)          767 non-null    float64
 5   Blood Glucose (mg/dL)              767 non-null    float64
 6   Blood Pressure (Diastolic) (mmHg)  767 non-null    float64
 7   Blood Pressure (Systolic) (mmHg)   767 non-null    float64
 8   Body Fat Percentage (%)            767 non-null    float64
 9   Body Mass Index (count)            767 non-null    float64
 10  Body Temperature (degC)            767 non-null    float64
 11  Basal Body Temperature (degC)      767 non-null    float64
 12  Caffeine (mg)                      767 non-null    float64
 13  Calcium (mg)                       767 non-null    float64
 14  Carbohydrates (mg)                 767 non-null    float64
 15  Chloride (mg)                      767 non-null    float64
 16  Cholesterol (mg)                   767 non-null    float64
 17  Chromium (mcg)                     767 non-null    float64
 18  Copper (mcg)                       767 non-null    float64
 19  Cycling Distance (mi)              767 non-null    float64
 20  Dietary Calories (cal)             767 non-null    float64
 21  Distance (km)                      767 non-null    float64
 22  Electrodermal Activity (mcS)       767 non-null    float64
 23  Fiber (g)                          767 non-null    float64
 24  Flights Climbed (count)            767 non-null    float64
 25  Folate (mcg)                       767 non-null    float64
 26  Forced Expiratory Volume (L)       767 non-null    float64
 27  Forced Vital Capacity (L)          767 non-null    float64
 28  Heart Rate (count/min)             767 non-null    float64
 29  Inhaler Usage (count)              767 non-null    float64
 30  Iodine (mcg)                       767 non-null    float64
 31  Lean Body Mass (kg)                767 non-null    float64
 32  Magnesium (mg)                     767 non-null    float64
 33  Manganese (mg)                     767 non-null    float64
 34  Molybdenum (mcg)                   767 non-null    float64
 35  Monosaturated Fat (g)              767 non-null    float64
 36  Niacin (mg)                        767 non-null    float64
 37  NikeFuel (count)                   767 non-null    float64
 38  Number of Times Fallen (count)     767 non-null    float64
 39  Oxygen Saturation (%)              767 non-null    float64
 40  Pantothenic Acid (mg)              767 non-null    float64
 41  Peak Expiratory Flow Rate (L/min)  767 non-null    float64
 42  Peripheral Perfusion Index (%)     767 non-null    float64
 43  Phosphorus (mg)                    767 non-null    float64
 44  Polyunsaturated Fat (g)            767 non-null    float64
 45  Potassium (mg)                     767 non-null    float64
 46  Protein (g)                        767 non-null    float64
 47  Respiratory Rate (count/min)       767 non-null    float64
 48  Resting Calories (kcal)            767 non-null    float64
 49  Riboflavin (mg)                    767 non-null    float64
 50  Saturated Fat (g)                  767 non-null    float64
 51  Selenium (mcg)                     767 non-null    float64
 52  Sodium (mg)                        767 non-null    float64
 53  Steps (count)                      767 non-null    float64
 54  Sugar (g)                          767 non-null    float64
 55  Thiamin (mg)                       767 non-null    float64
 56  Total Fat (g)                      767 non-null    float64
 57  Vitamin A (mcg)                    767 non-null    float64
 58  Vitamin B12 (mcg)                  767 non-null    float64
 59  Vitamin B6 (mg)                    767 non-null    float64
 60  Vitamin C (mg)                     767 non-null    float64
 61  Vitamin D (mcg)                    767 non-null    float64
 62  Vitamin E (mg)                     767 non-null    float64
 63  Vitamin K (mcg)                    767 non-null    float64
 64  Weight (kg)                        767 non-null    float64
 65  Dietary Water (L)                  767 non-null    float64
 66  Zinc (mg)                          767 non-null    float64
 67  UV Exposure (count)                767 non-null    float64
dtypes: float64(66), object(2)
memory usage: 407.6+ KB

## IMPORTING DATA FROM LOCAL DRIVE

In [33]:
import pandas as pd
dt=pd.read_csv("Stud_data.csv")

In [34]:
dt.head()

  Stud_id  Gender      Dept  Attendance  SemMarks     Name  Unnamed: 6
0    M197  Female   Science        63.0     475.0     Ritu         NaN
1    M181    Male  Commerce        86.0     303.0   Victor         NaN
2    S137  Female  Commerce        79.0     587.0    Daven         NaN
3    M193    Male  Commerce        47.0     403.0  Fernado         NaN
4    C166  Female   Science        59.0     461.0     Rose         NaN

In [35]:
dt.drop('Unnamed: 6',axis=1)

    Stud_id  Gender      Dept  Attendance  SemMarks     Name
0      M197  Female   Science        63.0     475.0     Ritu
1      M181    Male  Commerce        86.0     303.0   Victor
2      S137  Female  Commerce        79.0     587.0    Daven
3      M193    Male  Commerce        47.0     403.0  Fernado
4      C166  Female   Science        59.0     461.0     Rose
..      ...     ...       ...         ...       ...      ...
102    M200  Female   Science        67.0     426.0      NaN
103    S148    Male  Commerce        45.0     297.0      NaN
104    M186  Female  Commerce        53.0     438.0      NaN
105    C167    Male   Science        59.0     288.0      NaN
106    A128  Female  Commerce         NaN       NaN      NaN

[107 rows x 6 columns]

In [36]:
dt[5:10]

  Stud_id  Gender      Dept  Attendance  SemMarks    Name  Unnamed: 6
5    S138    Male  Commerce        88.0     452.0   Vijay         NaN
6    A102  Female      Arts        97.0     589.0   Honey         NaN
7    A124    Male  Commerce        97.0     355.0   Randy         NaN
8    C173  Female      Arts        97.0     473.0  Jannet         NaN
9    C155    Male   Science         NaN     411.0  Pillai         NaN

In [37]:
dt.Dept.unique()

array(['Science', 'Commerce', 'Arts', 'Comms', 'Art', nan], dtype=object)

## MEAN

In [38]:
data.mean()

C:\Users\isbe\AppData\Local\Temp\ipykernel_21944\531903386.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.mean()

Active Calories (kcal)               346.623511
Biotin (mcg)                           0.000000
Blood Alcohol Content (%)              0.000000
Blood Glucose (mg/dL)                  0.216093
Blood Pressure (Diastolic) (mmHg)      0.912647
                                        ...
Vitamin K (mcg)                        0.000000
Weight (kg)                            8.273077
Dietary Water (L)                      0.000000
Zinc (mg)                              0.000000
UV Exposure (count)                    0.000000
Length: 66, dtype: float64

To see specific rows(eg: 10 to 15)

## MEDIAN

In [39]:
data.median()

C:\Users\isbe\AppData\Local\Temp\ipykernel_21944\4184645713.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.median()

Active Calories (kcal)               298.0
Biotin (mcg)                           0.0
Blood Alcohol Content (%)              0.0
Blood Glucose (mg/dL)                  0.0
Blood Pressure (Diastolic) (mmHg)      0.0
                                     ...
Vitamin K (mcg)                        0.0
Weight (kg)                            0.0
Dietary Water (L)                      0.0
Zinc (mg)                              0.0
UV Exposure (count)                    0.0
Length: 66, dtype: float64